<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sub-product-heading" jhiTranslate="sdpApp.subProduct.home.createOrEditLabel">Create or edit a Sub Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!subProduct.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="subProduct.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sdpApp.subProduct.code" for="field_code" [ngbTooltip]="'sdpApp.subProduct.help.code' | translate">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="subProduct.code" required maxlength="80"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sdpApp.subProduct.description" for="field_description" [ngbTooltip]="'sdpApp.subProduct.help.description' | translate">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="subProduct.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sdpApp.subProduct.misc" for="field_misc" [ngbTooltip]="'sdpApp.subProduct.help.misc' | translate">Misc</label>
                    <textarea class="form-control" name="misc" id="field_misc"
                        [(ngModel)]="subProduct.misc" ></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
