<div>
    <h2 id="page-heading">
        <span jhiTranslate="sdpApp.subscriber.home.title">Subscribers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subscriber" [routerLink]="['/subscriber/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sdpApp.subscriber.home.createLabel">
            Create new Subscriber
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="subscribers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdn"><span jhiTranslate="sdpApp.subscriber.msisdn">Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productId"><span jhiTranslate="sdpApp.subscriber.productId">Product Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trialCnt"><span jhiTranslate="sdpApp.subscriber.trialCnt">Trial Cnt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="successCnt"><span jhiTranslate="sdpApp.subscriber.successCnt">Success Cnt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="sdpApp.subscriber.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="joinAt"><span jhiTranslate="sdpApp.subscriber.joinAt">Join At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="leftAt"><span jhiTranslate="sdpApp.subscriber.leftAt">Left At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expiryTime"><span jhiTranslate="sdpApp.subscriber.expiryTime">Expiry Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chargeLastTime"><span jhiTranslate="sdpApp.subscriber.chargeLastTime">Charge Last Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chargeNextTime"><span jhiTranslate="sdpApp.subscriber.chargeNextTime">Charge Next Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chargeLastSuccess"><span jhiTranslate="sdpApp.subscriber.chargeLastSuccess">Charge Last Success</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="notify"><span jhiTranslate="sdpApp.subscriber.notify">Notify</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="notifyLastTime"><span jhiTranslate="sdpApp.subscriber.notifyLastTime">Notify Last Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subscriber of subscribers ;trackBy: trackId">
                <td><a [routerLink]="['/subscriber', subscriber.id, 'view' ]">{{subscriber.id}}</a></td>
                <td>{{subscriber.msisdn}}</td>
                <td>{{subscriber.productId}}</td>
                <td>{{subscriber.trialCnt}}</td>
                <td>{{subscriber.successCnt}}</td>
                <td>{{subscriber.state}}</td>
                <td>{{subscriber.joinAt | date:'medium'}}</td>
                <td>{{subscriber.leftAt | date:'medium'}}</td>
                <td>{{subscriber.expiryTime | date:'medium'}}</td>
                <td>{{subscriber.chargeLastTime | date:'medium'}}</td>
                <td>{{subscriber.chargeNextTime | date:'medium'}}</td>
                <td>{{subscriber.chargeLastSuccess | date:'medium'}}</td>
                <td>{{subscriber.notify}}</td>
                <td>{{subscriber.notifyLastTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/subscriber', subscriber.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/subscriber', subscriber.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subscriber/'+ subscriber.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="subscribers && subscribers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
